 .container{
    font: 1em sans-serif;    
}
.header{
    display: flex;
    height: 200px;
    background-color: #58646d;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.header h1
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: flex;
  align-items: center;
  font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.container h1, h6{
    text-align: center;
}

.blockOne,
.blockTwo,
.blockThree,
.blockFour,
.blockFive,
.blockSix,
.blockSeven,
.blockEight,
.blockNine,
.blockTen,
.blockEleven,
.blockTwelve,
.blockThirteen{

    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-left: 50px;}
.block{
    margin: 10px !important;
}

.header{
    margin: 10px;
}


form{
    width: 80%;
    margin: 0px auto;
}

input[type="text"],
input[type="number"],
textarea,
fieldset, 
#city{
width : 100%;
border: 1px solid #333;
box-sizing: border-box;
padding: 10px;
border-radius: 5px;
}

input:invalid {
box-shadow: 0 0 2px 0.5px rgb(109, 12, 12);
}

input:focus:invalid {
box-shadow: none;
}

.form-field{
    margin: 10px;
}

input[type=email]{
-webkit-appearance: none;
appearance: none;

width: 100%;
border: 1px solid #333;
margin: 0;

font-family: inherit;
font-size: 90%;

box-sizing: border-box;
padding: 10px;
border-radius: 5px;
}

/* This is our style for the invalid fields */
input:invalid{
border-color: #900;
background-color: #FDD;
}

input:focus:invalid {
outline: none;
}

/* This is the style of our error messages */
.error {
width  : 100%;
padding: 0;

font-size: 80%;
color: white;
background-color: #900;
border-radius: 0 0 5px 5px;

box-sizing: border-box;
}

.error.active {
padding: 5px;
}


.button{
    text-decoration: none;
    background-color: rgb(243, 243, 243);
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    color: black;
    border: 1px solid black;
    font-size: 20px;
}

.touchEvents{
    margin: 0px auto;
    height: 400px;
    width: 300px;
    border: 2px solid black;
}

#log {
    height: 200px;
    width: 600px;
    overflow: scroll;
  }

  .buttonGeo{
    text-decoration: none;
    background-color: rgb(243, 243, 243);
    padding: 2px;
    text-align: center;
    border-radius: 4px;
    color: black;
    border: 1px solid black;
    font-size: 15px;
    margin-top: 10px;
  }

  
  .video{
      width: 35%;
      height: 300px;
      border-radius: 10px;
  }
  
  audio{
      width: 35%;
  }

  #editable{
      background-color: antiquewhite;
      width: 300px;
      height: 100px;
      font-weight: bold;
      padding: 15px;
  }

  #box{
    width: 100px;
    height: 100px;
    background-color: tomato;
    border-radius: 10px;
  }

  #bigBox{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* MEDIA QUERIES  */
  @media (max-width: 820px) {
    .blockOne h2{
        color: #900;
    }
    .primera{
        justify-content: center;
    }
  }
