<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Html Ricardo Flores</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Ricardo Flores Salcedo Trainee for HTML AND CSS</h1>
        </div>
        <br>
        <ul class="nav nav-pills navStyle">
            <li class="nav-item">
                <a class="nav-link active" href="./index.html">First</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./index2.html">Second</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./index3.html">Third</a>
            </li>
        </ul>
        <div class="row primera">
        <!-- FORM  WITH JAVASCRIPT VALIDATION -->
            <div class="col-6 block blockOne">
                <h2>Registration Form</h2>
                <h6>(Topics 1 - 4 in HTML section)</h6>
                <form>
                    <div class="form-field">
                        <label for="name">Name</label>
                        <input type="text" id="name" placeholder="Enter your name here" required>
                    </div>
                    <div class="form-field">
                        <label for="age">Your Age</label>
                        <input type="number" id="age" value="1" min="1" max="100">
                    </div>
                    <div class="form-field">
                        <fieldset>
                            <legend>Gender<abbr title="This is a required field">*</abbr></legend>
                            <div id="gender"></div>
                        </fieldset>
                    </div>
                    <div class="form-field">
                        <label for="t1">City<abbr title="This is a required field" required>*</abbr></label>
                        <select id="city"></select>
                    </div>
                    <div class="form-field">
                        <label for="mail">
                            <span>Please enter an email address:</span>                        
                        </label>
                        <input type="email" id="mail"  required minLength="8">
                        <span class="error" aria-live="polite"></span>
                    </div>
                    <div class="form-field">
                        <label for="t3">Optional message</label>
                        <textarea id="t3"  maxlength="140" rows="5"></textarea>
                    </div>
                    <input type="submit" id="submit" class="btn btn-success" value="submit">
                </form>
            </div>
            
            <div class="col">
                <!-- WEB COMPONENTS -->
                <div class="col block blockTwo">
                    <h2>Custom elements</h2>
                    <h6>(Topic 5 in HTML section)</h6>
                    <div id="tag"></div>
                    <my-product></my-product>
                    <hello-world name="Ricardo" surname="Flores"></hello-world>
                </div>

                <!-- WEB SOCKETS -->
                <div class="col block blockThree">
                    <h2>Web Sockets</h2>
                    <h6>(Topic 6 in HTML section)</h6>
                    <div id="webSocket"></div>
                </div>

                <!-- SERVER SENT EVENTS -->
                <div class="col block blockFour">
                    <h2>Server Sent events</h2>
                    <h6>(Topic 7 in HTML section)</h6>
                    <br>
                    <p>To test the local server click: 
                        <input type="button" class="btn btn-success" value="Here" onclick="location.href=`http://localhost:8080/`" />
                    </p>
                    <br>
                    <b>And then on the console of the browser type: " let sse = new EventSource("http://localhost:8080/stream"); "</b>
                    <p>Here you are connecting with the server so you can see the messages that it is sending</p>
                    <b>And then type this on the console: " sse.onmessage = console.log ":</b>
                    <p>Here you are receiving the messages from the server in console</p>
                </div>

                <!-- LOCAL STORAGE -->
                <div class="col block blockFive">
                    <h2>Local Storage</h2>
                    <h6>(Topic 9 in HTML section)</h6>
                    <p>The Inputs of the Form will be saved on the Local Storage, if you want to try, fill the form.</p>
                    <h3>Local Storage data:</h3>
                    <div id="showLocalStorage"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../scripts/script.js"></script>
</body>
</html>